.footer {
  background-color: #545454;
  background-color: #1d1e21;
  height: 217px;
  position: relative;
}

.name {
  font-family: "Manrope-Variable";
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 10%;
  font-weight: 600;
}

.image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1; /* image behind other content */
}
