.projectContainer{
    display: flex;
    margin-bottom: 298px;
    gap: 109px;
}

@media (max-width : 1300px){
    .projectContainer{

        flex-direction: column;
    }
}


.project{
    font-family: "Manrope-Variable";
    font-size: 48px;
    margin-top: 185px;
    margin-bottom: 81px;
    text-align: center;
    color: #545454;

}


@media (max-width : 780px){
    .project{

        font-size: 30px;
    }
}


.title{
    font-family: "Manrope-Variable";
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #545454;


}

.subtext{
    font-family: "Manrope-Variable";
    font-size: 18px;
    margin-bottom: 20px;
    color: #545454;



}

.subtext2{
    font-family: "Manrope-Variable";
    font-size: 18px;
    margin-bottom: 48px;
    color: #545454;

}

.link{
    font-family: "Manrope-Variable";
    font-size: 20px;
    color: #545454;


      
}

.link:hover{
    text-decoration: underline #52a689;
    text-decoration-thickness: 5px;

}