@font-face {
    font-family: "Manrope-Variable";
    src: url("../public/Fonts/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 400 500 600 700 800 900;
    font-display: swap;
    font-style: normal;
  }

  body, html {
    max-width: 100vw;
    overflow-x: hidden;
  }
  

* {
    margin: 0px;
    padding: 0px;
 }

 .m-horizontal {
   margin: 0px 20px;
 }

 @media (min-width: 480px) {
   .m-horizontal {
      margin: 0px 28px;
   }
 }

 @media (min-width: 640px) {
   .m-horizontal {
      margin: 0px 36px;
   }
 }

 @media (min-width: 1024px) {
   .m-horizontal {
      margin: 0px 64px;
   }
 }

 @media (min-width: 1400px) {
   .m-horizontal {
      margin: 0px auto;
      max-width: 1200px;
   }
 }

 ul li{
  margin-bottom: 23px;
  transition: transform 0.8s ease; /* Add a transition effect for the transform property */
 }

 ul li:hover {
  text-decoration: underline #52a689;
  text-decoration: underline #FFB2B7;
  text-decoration-thickness: 5px;
  /* transition-duration: 0.4s; */
  transform: scale(1.15);
  transform: translateX(-5px); /* Move the text 5 pixels to the left on hover */
}

body{
  padding:0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
a:-webkit-any-link {
  color: #FFE5E7;
  cursor: pointer;
  text-decoration: none;
}

.smooth-scroll {
  scroll-behavior: smooth !important;
}